$fill-primary: #fcfcfc;
$fill-primary-light: #ffffff;
$fill-primary-dark: #f8f8f8;
$fill-secondary: #273242;
$fill-secondary-dark: #212b39;
$fill-grey: #f9f9f9;
$fill-grey-light: #fafafa;
$fill-grey-dark: #f6f6f6;

$text-primary: #273142;
$text-secondary: #525a68;
$text-secondary-light: #bec0c2;
$text-secondary-trietary: #888e97;
$text-disabled: #dfe1e3;

$button-primary: linear-gradient(86.5deg, #56aedf 0%, #72c7f7 100%);
$button-primary-hover: #61ade5;
$button-secondary: linear-gradient(86.9deg, #6cd196 0%, #7edba5 100%);
$button-secondary-hover: #6cd196;
$button-inherit: linear-gradient(89.23deg, #508ed7 0%, #80b4f0 100%);
$button-inherit-hover: #508ed7;

$button-default: #fdfdfd;

$border: #eef0f1;
$border-light: #f4f4f4;

$link-primary: #273142;
$link-primary-hover: #61ade5;
