@import "_colors.scss";


// Стили для главной страницы

.blocktext {
    position: absolute;
    width: 539px;
    height: 113px;
    left: 450px;
    top: 80px;
    text-align: center;
    margin-bottom: 45px;
    .blocktext__heading {
        margin: 0 0 10px 0;
        font-family: Gilroy;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }
    .blocktext__paragraph {
        font-family: SF UI Display;
        font-size: 15px;
        line-height: 22px;
        color: $text-secondary-trietary;
    }
}


.textblock {
    position: absolute;
    width: 414px;
    height: 149px;
    left: 170px;
    top: 82px;
    .textblock__heading {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 40px;
        line-height: 45px;
        color: $fill-primary-light;
        margin-bottom: 15px;
        width: 419px;
    }
    .textblock__paragraph {
        font-family: SF UI Display;
        font-size: 15px;
        line-height: 22px;
        color: $fill-primary-light;
    }
}

.blocktext__news {
    width: 394px;
    height: 113px;
    display: inline-block;
    .news__heading {
        font-family: Gilroy;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 10px;
    }
    .news__paragraph {
        font-family: SF UI Display;
        font-size: 15px;
        line-height: 22px;
        color: #808896;

    }
}


//Стили для change_registration_type

.blocktext__change-page {
    position: absolute;
    width: 539px;
    height: 113px;
    left: 450px;
    top: 90px;
    text-align: center;
    margin-bottom: 30px;
    .change-page__heading {
        margin: 0 0 10px 0;
        font-family: Gilroy;
        font-weight: 600;
        font-size: 35px;
        line-height: 37px;
    }
    .change-page__paragraph {
        font-family: SF UI Display;
        font-size: 15px;
        line-height: 22px;
        color: $text-secondary-trietary;
    }
}
