.menubar__items {
    a:hover { 
    color: #61ADE5;
    }
}

.menubar__quest {
    a:hover {
        border-color: #B8BCC3;
        background: #61ADE5;
    }
}

.menubar__enter {
    a:hover {
        border-color: #B8BCC3;
    }
}

.button_blue:hover {
    background: #61ADE5;
}