@import "_colors.scss";

.road {
    display: flex;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    .road__point {
        margin-right: 11.53px;
    }
    .road__point_active {
        color: $text-secondary-light;
    }
}